.navbar {
    font-size: 1.5em;
}

.active {
	background-color: black;
}

.nav-link:hover {
	color: #ccc !important;
}

.card-outer {
    min-height: 300px;
}

.card {
    height: 100%;
}

.card img {
    object-fit: cover;
    height: 40vh;
}

@media (max-width: 1200px) {
    .card-outer {
        min-height: 200px;
    }
}

@media (max-width: 768px) {
    .card img {
        display: none;
    }

    .card {
        text-align: center;
    }
}